<!DOCTYPE html>
<html>
<head>
	<script src="./TransferenciaOptions.js" defer></script>
	<script src="./autopac-message.js" defer></script>
	<link rel="stylesheet" src="./autopac-message.css">

    <title>AutoPac Message Test</title>
</head>
<body>

<div class="mdl-layout mdl-js-layout">
<form>
	Monto:<br>
	<input type="number" id="monto">
	<br>
	Nombre Destinatario:<br>
	<input type="text" id="nombreDestinatario">
	<br>
	Rut Destinatario:<br>
	<input type="text" id="rutDestinatario">
	<br>
	Banco Destinatario:<br>
	<input type="text" id="bancoDestinatario">
	<br>
	Numero de Cuenta Destinatario:<br>
	<input type="text" id="numeroCuentaDestinatario">
	<br>
	Tipo de Cuenta Destinatario:<br>
	<select id="tipoCuentaDestinatario">
		<option></option>
		<option>corriente</option>
		<option>vista</option>
		<option>ahorro</option>
	</select>
	<br>
	Mail Destinatario:<br>
	<input type="text" id="mailDestinatario">
	<br>
	Fecha Inicio:<br>
	<input type="date" id="fechaInicio">
	<br>
	Fecha Termino:<br>
	<input type="date" id="fechaTermino">
	<br>
	<select id="frecuencia">
		<option></option>
		<option>mensual</option>
		<option>trimestral</option>
		<option>semestral</option>
	</select>
	<br>
		<input id="messageBtn"type="button" value="Message AutoPac">
		<input id="printTransferenciaBtn"type="button" value="Print Transferencia">     
     
</form>
</div>

</html>